html {
  font-size: 100px; }

body {
  background: #fff; }

* {
  font-family: "pingFangSC" !important; }

* {
  margin: 0;
  padding: 0; }


.box-head{
    height: 0.44rem;
    font-size: 0.12rem;
    border-bottom: 1px solid #dbdbdb;
    h1{
        text-align: center;
        line-height: 0.44rem;
        font-size: 0.15rem;
    }
}
.box{
    width: 100%;
    height: 100%;
    background: #fff;
}
.box-back{
    width: 0.21rem;
    height: 0.21rem;
    position: absolute;
    left: 0.1rem;
    top: 0.1rem;
}
.box-head{
    position: relative;
}
.box-img{
    width: 0.54rem;
    height: auto;
    display: block;
    margin: 0.5rem auto;
}
.box-ul{
    font-size: 0.12rem;
    margin: 0 0.1rem;
    li{
        height: 0.5rem;
        line-height: 0.5rem;
        border-bottom: 1px solid #c1c1c1;
        input{
            border: none;
            padding-left: 0.1rem;
            color: #c1c1c1;
        }
        span{
            width: 30%;
            height: 0.3rem;
            border: 1px solid #3896ee;
            border-radius: 0.2rem;
            display: inline-block;
            text-align: center;
            line-height: 0.3rem;
            color: #3896ee;
            cursor: pointer;
            margin-left: 0.3rem;
        }
    }
}
.box-login{
    margin: 0.8rem 5% 0 5%;
    color: #fff;
    background: #2b8fed;
    height: 0.37rem;
    line-height: 0.37rem;
    text-align: center;
    font-size: 0.12rem;
    border-radius: 0.2rem;
    cursor:pointer;
    width: 90%;
    border: 0;
    outline: none;
}
.box-ul{
    li{
        b{
            font-size: 0.12rem;
            font-weight: normal;
            padding-left: 0.1rem;
            width: 45%;
            display: inline-block;
        }
        input{
            text-align: right;
            width: 50%;
        }
        .weixin{
            border: none;
            margin-left: 0.7rem;
            color: #000;
            
            img{
                width: 0.23rem;
                height: auto;
                vertical-align: middle;
            }
        }
    }
}
