
    .warp:nth-child(1) {
        width: 100%;
        height: 100%;
        background: #2a0404;
        -webkit-clip-path: polygon(51.62% 44.64%, 52.21% 45.17%, 50.05% 51.14%);
    }
    .move1{
        animation: move1 5s 1s;
        -webkit-animation: move1 5s 1s;
    }
    @keyframes move1{
        40%{
            -webkit-clip-path: polygon(15.82% 26.84%, 18.61% 25.17%, 18.65% 19.14%);
        }
        100%{
            -webkit-clip-path: polygon(15.82% 26.84%, 18.61% 25.17%, 18.65% 19.14%);
        }
    }
    
    .warp:nth-child(2) {
        width: 100%;
        height: 100%;
        background: #390505;
        -webkit-clip-path: polygon(52.92% 46.54%, 52.21% 45.17%, 50.05% 51.14%);
    }
    
    .warp:nth-child(3) {
        width: 100%;
        height: 100%;
        background: #400606;
        -webkit-clip-path: polygon(52.82% 46.54%, 53.31% 47.57%, 50.05% 51.14%);
    }
    
    .warp:nth-child(4) {
        width: 100%;
        height: 100%;
        background: #440606;
        -webkit-clip-path: polygon(53.67% 48.84%, 53.31% 47.57%, 50.05% 51.14%);
    }
    
    .warp:nth-child(5) {
        width: 100%;
        height: 100%;
        background: #490707;
        -webkit-clip-path: polygon(53.67% 48.84%, 53.91% 50.37%, 50.05% 51.14%);
    }
    
    .warp:nth-child(6) {
        width: 100%;
        height: 100%;
        background: #4d0707;
        -webkit-clip-path: polygon(53.91% 51.84%, 53.91% 50.37%, 50.05% 51.14%);
    }
    
    .warp:nth-child(7) {
        width: 100%;
        height: 100%;
        background: #500808;
        -webkit-clip-path: polygon(53.91% 51.84%, 53.81% 53.17%, 50.05% 51.14%);
    }
    
    .warp:nth-child(8) {
        width: 100%;
        height: 100%;
        background: #520808;
        -webkit-clip-path: polygon(53.51% 54.4%, 53.81% 53.17%, 50.05% 51.14%);
    }
    
    .warp:nth-child(9) {
        width: 100%;
        height: 100%;
        background: #550808;
        -webkit-clip-path: polygon(53.51% 54.4%, 53.01% 55.57%, 50.05% 51.14%);
    }
    
    .warp:nth-child(10) {
        width: 100%;
        height: 100%;
        background: #560808;
        -webkit-clip-path: polygon(52.41% 56.65%, 53.01% 55.57%, 50.05% 51.14%);
    }
    
    .warp:nth-child(11) {
        width: 100%;
        height: 100%;
        background: #560808;
        -webkit-clip-path: polygon(52.41% 56.65%, 51.71% 57.47%, 50.05% 51.14%);
    }
    
    .warp:nth-child(12) {
        width: 100%;
        height: 100%;
        background: #570808;
        -webkit-clip-path: polygon(51.01% 57.75%, 51.71% 57.47%, 50.05% 51.14%);
    }
    
    .warp:nth-child(13) {
        width: 100%;
        height: 100%;
        background: #580808;
        -webkit-clip-path: polygon(51.01% 57.75%, 50.21% 57.97%, 50.05% 51.14%);
    }
    
    .warp:nth-child(14) {
        width: 100%;
        height: 100%;
        background: #590808;
        -webkit-clip-path: polygon(49.41% 57.95%, 50.21% 57.97%, 50.05% 51.14%);
    }
    
    .warp:nth-child(15) {
        width: 100%;
        height: 100%;
        background: #5a0808;
        -webkit-clip-path: polygon(49.41% 57.95%, 48.61% 57.47%, 50.05% 51.14%);
    }
    
    .warp:nth-child(16) {
        width: 100%;
        height: 100%;
        background: #5a0808;
        -webkit-clip-path: polygon(47.91% 56.75%, 48.61% 57.47%, 50.05% 51.14%);
    }
    
    .warp:nth-child(17) {
        width: 100%;
        height: 100%;
        background: #5a0808;
        -webkit-clip-path: polygon(47.91% 56.75%, 47.41% 56.07%, 50.05% 51.14%);
    }
    
    .warp:nth-child(18) {
        width: 100%;
        height: 100%;
        background: #5a0808;
        -webkit-clip-path: polygon(46.91% 54.95%, 47.41% 56.07%, 50.05% 51.14%);
    }
    
    .warp:nth-child(19) {
        width: 100%;
        height: 100%;
        background: #560808;
        -webkit-clip-path: polygon(46.91% 54.95%, 46.51% 53.67%, 50.05% 51.14%);
    }
    
    .warp:nth-child(20) {
        width: 100%;
        height: 100%;
        background: #400606;
        -webkit-clip-path: polygon(46.31% 52.25%, 46.51% 53.67%, 50.05% 51.14%);
    }
    
    .warp:nth-child(21) {
        width: 100%;
        height: 100%;
        background: #360505;
        -webkit-clip-path: polygon(46.31% 52.25%, 46.31% 50.67%, 50.05% 51.14%);
    }
    
    .warp:nth-child(22) {
        width: 100%;
        height: 100%;
        background: #2e0404;
        -webkit-clip-path: polygon(46.41% 49.25%, 46.31% 50.67%, 50.05% 51.14%);
    }
    
    .warp:nth-child(23) {
        width: 100%;
        height: 100%;
        background: #270303;
        -webkit-clip-path: polygon(46.41% 49.25%, 46.68% 47.87%, 50.05% 51.14%);
    }
    
    .warp:nth-child(24) {
        width: 100%;
        height: 100%;
        background: #200303;
        -webkit-clip-path: polygon(46.991% 46.85%, 46.61% 47.87%, 50.05% 51.14%);
    }
    
    .warp:nth-child(25) {
        width: 100%;
        height: 100%;
        background: #200303;
        -webkit-clip-path: polygon(46.91% 46.95%, 47.61% 45.67%, 50.05% 51.14%);
    }
    
    .warp:nth-child(26) {
        width: 100%;
        height: 100%;
        background: #1f0303;
        -webkit-clip-path: polygon(48.41% 44.75%, 47.61% 45.67%, 50.05% 51.14%);
    }
    
    .warp:nth-child(27) {
        width: 100%;
        height: 100%;
        background: #150202;
        -webkit-clip-path: polygon(48.31% 44.85%, 49.11% 44.27%, 50.05% 51.14%);
    }
    
    .warp:nth-child(28) {
        width: 100%;
        height: 100%;
        background: #150202;
        -webkit-clip-path: polygon(49.71% 44.15%, 49.01% 44.37%, 50.05% 51.14%);
    }
    
    .warp:nth-child(29) {
        width: 100%;
        height: 100%;
        background: #100101;
        -webkit-clip-path: polygon(49.71% 44.15%, 50.61% 44.17%, 50.05% 51.14%);
    }
    
    .warp:nth-child(30) {
        width: 100%;
        height: 100%;
        background: #160202;
        -webkit-clip-path: polygon(51.61% 44.55%, 50.61% 44.17%, 50.05% 51.14%);
    }
    
    .warp:nth-child(31) {
        width: 100%;
        height: 100%;
        background: #160202;
        -webkit-clip-path: polygon(51.61% 44.55%, 50.61% 44.17%, 50.05% 51.14%);
    }
    
    .warp:nth-child(32) {
        width: 100%;
        height: 100%;
        background: #160202;
        -webkit-clip-path: polygon(51.61% 44.55%, 50.61% 44.17%, 50.05% 51.14%);
    }
    
    .warp:nth-child(33) {
        width: 100%;
        height: 100%;
        background: #160202;
        -webkit-clip-path: polygon(51.61% 44.55%, 50.61% 44.17%, 50.05% 51.14%);
    }

    #pgs{
        width: 100%;
        height: 5px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    #pgs #loading{
        width: 0%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #f00;
        animation: moveld 9s 1s forwards;
        -webkit-animation: moveld 9s 1s forwards;
    }
    @keyframes moveld{
        from{
            width: 0;
        }
        to{
            width: 100%
        }
    }